body[data-type="tool"] #web_bg
  background: var(--anzhiyu-background);
body[data-type="tool"] #page
  border: 0;
  box-shadow: none !important;
  padding: 0 !important;
  background: 0 0 !important;
body[data-type="tool"] #page .page-title
  display: none;

.author-content.author-content-item.toolPage {
    height: 23rem;
    background: url(https://cdnjson.com/images/2023/11/13/image458977f6b2e0c6ad.png) no-repeat top;
    background-size: cover;
    color: var(--anzhiyu-white);
    overflow: hidden;
    margin-top: 0;
    }  
 .flink#article-container .flink-list {
    padding: 0;
    margin: 0.5rem -6px 1rem -6px;
    overflow-x: hidden;
}
#article-container .flink .flink-desc {
    margin: -0.5rem 0 0.5rem;
}
#article-container .flink-list .anzhiyu-flink-list {
    overflow: visible;
    margin: -6px 0 0 0;
    text-align: center;
}

@media screen and (max-width: 768px){
#body-wrap .layout #article-container #page {
    padding: 0px 0px !important;
}
}
#article-container .flink {
    margin-top: 1rem;
}
