body[data-type="updatelog"] #web_bg
  background: var(--anzhiyu-background);
body[data-type="updatelog"] #page
  border: 0;
  box-shadow: none !important;
  padding: 0 !important;
  background: 0 0 !important;
  margin-bottom: 50px;
body[data-type="updatelog"] #page .page-title
  display: none;

.author-content.author-content-item.updatelogPage {
    height: 23rem;
    background: url(https://s3.qjqq.cn/37/655596fc6fee7.webp!color) no-repeat top;
    background-size: cover;
    color: var(--anzhiyu-white);
    overflow: hidden;
    margin-top: 0;
    }  



@media screen and (max-width: 768px){
#body-wrap .layout #article-container #page {
    padding: 0px 0px !important;
}
}
